* {
  box-sizing: border-box;
}
body {
  background:#808080;
  font-family: helvetica;
  height:7600px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
a {
	text-decoration: none !important;
	color: #232323;
	transition: color 0.3s ease;
}
a:hover {
	color: #ea7527;
}
.video {
  bottom: 0;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 150%;
}
#content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* if smaller content box is used and centering is needed: 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  */
}
#viewport {
  color: #fff;
  margin-top: 250px;
  -webkit-perspective:300px;
  -moz-perspective:300px;
  -webkit-perspective-origin:50% 40%;
  -moz-perspective-origin:50% 40%;
  -moz-transform-style: preserve-3d;
  width:100%;
  height:100%;
}
#instructions-overlay {
  position: fixed;
  width:100%;
  height:100%;
  z-index: -1;
  background: rgba(0,0,0,.5);
}
.frame{
    position:absolute;
    width:100%;
    height:100%;
    -moz-transform-style: preserve-3d;
}
.frame.text {
    text-align:center;
    -moz-transform-style: preserve-3d;
}
.frame.image {
    text-align:center;
}
.frame.text h1 {
    color:white;
    padding:2em;
}
.frame.box {
    border-radius:.5em;
    padding:2em;
}

#menu-toggle {
	display: block;
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 11;
	-webkit-user-select: none;
	user-select: none;
}

#menu-toggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 11;
	-webkit-touch-callout: none;
}

#menu-toggle span {
	display: block;
	width: 33px;
	height: 1px;
	margin-bottom: 10px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menu-toggle span:first-child {
	transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menu-toggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(1px, 0px);
}

#menu-toggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	height: calc(100vh + 100px);
	width: calc(100vw + 100px);
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 200px;
	right: -100px;
	background: #121212;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-align: left;
}

#menu li {
  color: #fff;
	display: inline-block;
	padding: 10px 0;
  font-size: 40px;
	vertical-align: top;
}
#menu li.column {
	display: inline-block;
}
#menu li a {
	color: #fff;
}
#menu li a.small {
	color: #fff;
	font-size: 20px;
	padding: 12px;
}
#menu li button {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	font-size: 20px;
	padding: 12px;
}
#menu li a:hover,
#menu li button:hover {
  color: #ea7527;
}
#menu .menu-items {
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
}
#menu .menu-items li {
	display: block;
	padding: 20px;
}

#menu-toggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}
.logo {
	cursor: pointer;
  position: fixed;
  left: 50px;
  top: 30px;
  width: 226px;
  z-index: 100;
}
.navigation-bars {
  position: fixed;
  left: 50px;
  top: 300px;
  z-index: 1;
}
.bar {
  background-color: #808080;
  height: 6px;
  margin-bottom: 14px;
  width: 40px;
}
.bar.active {
  background-color: #fff;
}
.spacer {
   height: 10000px;
}

.video {
   position: fixed;
   top: 50%;
   left: 50%;
   bottom: 0;
   width: 150%;
   transform: translateX(-50%) translateY(-50%);
}
.video-container {
  color: white !important;
  height: 100vh;
  width: 100vw;
}
.video-container p {
  color: white;
}

.corner-box {
	background-image:
		url(/img/icons/top-left.svg),
		url(/img/icons/top-right.svg),
		url(/img/icons/bottom-left.svg),
		url(/img/icons/bottom-right.svg);
	background-position:
		top left,
		top right,
		bottom left,
		bottom right;
	background-repeat: no-repeat;
}

.content-container {
	color: white;
  display: table;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 800px;
	z-index: 10;
}

.content-container h1 {
  font-size: 50px;
	font-weight: 900;
	line-height: 0.89;
	margin-bottom: 42px;
}
.content-container p {
	float: right;
	font-size: 25px;
	line-height: 2;
  padding: 30px;
	text-align: left;
	width: 600px;
}
.content-container p .sub-box {
	background-color: rgba(18, 18, 18, .5);
	display: block;
	font-size: 20px;
	line-height: 1.25;
	padding: 10px;
	width: 100%;
}
.content-container input {
	background-color: #121212;
	border: 1px solid #fff;
	margin: 6px;
	padding: 8px;
	display: block;
}

.content-container > div {
  display: table-cell;
  vertical-align: middle;
}

.loading {
  background-color: #ea7527;
  color: #fff;
  display: table;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}
.loading h1 {
	font-size: 50px;
}
.loading h5 {
	font-size: 28px;
	font-weight: bold;
}
.loading .small {
	font-size: 13px;
}
.loading > div {
  display: table-cell;
  vertical-align: middle;
}
